div.DraftEditor-root {
  height: auto;
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  min-height: 300px;
  height: auto;
}

div.public-DraftEditorPlaceholder-root {
  position: absolute;
  pointer-events: none;
}

.RichEditor-editor .public-DraftStyleDefault-pre pre {
  white-space: normal;
}
