/* Inline Styles */

#hlog {
  color: #334155;
  margin-top: 2rem;
}

.hlog-header-one {
  font-size: 3rem;
  line-height: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.hlog-header-two {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.hlog-header-three {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.hlog-header-four {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.hlog-header-five {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.hlog-header-six {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.hlog-paragraph {
  line-height: 30px !important;
  font-size: 17px;
  letter-spacing: 0em;
  line-height: 1.6;
  font-weight: normal;
}

#hlog blockquote {
  background-color: rgb(219 234 254);
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-left-width: 4px;
  border-color: rgb(37 99 235);
  border-style: solid;
}

.hlog-unordered-list-item,
.hlog-ordered-list-item {
  line-height: 30px !important;
}

/* Entity Styles */
.hlog_img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
