/* Inline Styles */

#hlog {
  color: #334155;
}

#hlog h1 {
  font-size: 3rem;
  line-height: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
#hlog h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
#hlog h3 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
#hlog h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
#hlog h5 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
#hlog h6 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

#hlog blockquote {
  background-color: rgb(219 234 254);
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-left-width: 4px;
  border-color: rgb(37 99 235);
  border-style: solid;
}

#hlog p,
#hlog span {
  line-height: 27px;
  font-size: 17px;
  letter-spacing: 0em;
  line-height: 1.6;
  font-weight: normal;
  margin: 24px 0px 8px;
}

#hlog ul {
}

#hlog li {
}

#hlog pre {
}

/* Entity Styles */
.hlog_img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.hlog_link {
}
