#hlog-editor h1 {
  font-size: 3.75rem; /* 60px */
  line-height: 5rem;
}
#hlog-editor h2 {
  font-size: 3rem; /* 48px */
  line-height: 4rem;
}
#hlog-editor h3 {
  font-size: 2.25rem; /* 36px */
  line-height: 3rem; /* 40px */
}
#hlog-editor h4 {
  font-size: 1.875rem; /* 30px */
  line-height: 2rem; /* 36px */
}
#hlog-editor h5 {
  font-size: 1.5rem; /* 24px */
  line-height: 2.25rem; /* 32px */
}
#hlog-editor h6 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}
#hlog-editor li {
  line-height: 1.7;
}
#hlog-editor ul > li::marker {
  display: none;
}
#hlog-editor ul > li::before {
  content: "•";
  color: #2563eb;
  margin-right: 10px;
}

#hlog-editor ol {
  list-style: none;
  counter-reset: hlog-list-counter -1;
}
#hlog-editor ol,
#hlog-editor li {
  counter-increment: hlog-list-counter;
}
#hlog-editor ol li::before {
  content: counter(hlog-list-counter) ". ";
  color: #2563eb;
  font-weight: bold;
}

#hlog-editor strong {
  font-weight: 600;
}

#hlog-editor p {
  font-size: 1.125rem;
  line-height: 1.7;
  letter-spacing: -0.004em;
  word-break: keep-all;
  overflow-wrap: break-word;
}

#hlog-editor code {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
