div.DraftEditor-root {
  height: 100%;
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  min-height: 0px;
}

div.public-DraftEditorPlaceholder-root {
  position: absolute;
  pointer-events: none;
}

.RichEditor-editor .public-DraftStyleDefault-pre pre {
  white-space: normal;
}
